using {sharedNamespace};

namespace {namespace}.{actionsFolder}.{actionName}
{
    public record {actionName}FailureAction : FailureAction
    {
        public {actionName}FailureAction(string errorMessage)
          : base(errorMessage)
        {
        }
    }
}
